.chip {
  background-color: var(--color-secondary);
  border-radius: 10px;
  max-width: 80px;
  padding: 4px 8px;
}

.chipText {
  color: var(--color-white);
  font-size: 10px;
  font-weight: 400;
}

.songTitle {
  color: var(--color-white);
}

.cardContent {
  padding: 6px !important;
}

.musicCard {
  margin: 50px;
}
